*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    max-width:1200px;
    background-color:#1e1e2f;
    color:#ffffff;
    margin:0 auto;
    padding:0 1rem;
}

.hero{
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:2rem 1rem;
    padding:0;
}

#myself{
    border-radius:50%;
    height:200px;
    max-width:100%;
    display:block;
    margin:0 auto;
}

a{
    color:#0077b6;
    text-decoration:none;
}

a:hover{
    color:#00b4d8;
}

#liststyle li{
    list-style:none;
    border:2px solid #00b4d8;
    border-radius:8px;
    padding:0.5rem 1rem;
    margin-bottom:0.5rem;
    transition:transform 0.3s ease;
}

#liststyle li:hover{
    transform:translateX(20px);
}

#about{
    margin:30px 10px 10px 10px;
}

#education{
    margin:10px;
}

#goals{
    margin:10px;
}

#skills{
    margin:10px;
}

#certifications{
    margin:10px;
}

.certificate-card{
    background-color: #0a192f;
    border:2px solid #00b4d8;
    border-radius:12px;
    padding:1rem;
    margin-bottom:2rem;
    text-align:center;
}

.certificate-card img{
    max-width:350px;
    height:auto;
    border-radius:10px;
    margin-bottom:1rem;
    transition:transform 0.3s ease;
    transition:box-shadow 0.3s ease;
}

.certificate-card img:hover{
    transform:scale(1.05);
    box-shadow:0 0 10px #00b4d8;
}

.certificate-info{
    list-style:none;
    padding:0;
    color:#ffffff;
}

.certificate-info li{
    margin-bottom:0.5rem;
}

.isser{
    color:#ff003c;
    font-weight:bold;
}

#projects{
    margin:10px;
}

#hobbies{
    margin:10px;
}

#contact{
    margin:10px;
}

#lastsection{
    background-color:#0a192f;
    padding:3rem 1rem;
    border:2px solid red;
}

#contact-list{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:2rem;
    flex-wrap:wrap;
    padding:0;
}

#contact-list li img{
    width:50px;
    height:50px;
    transition:transform 0.3s;
}

#contact-list img:hover{
    transform:scale(1.2);
}

@media (max-width:480px) {
    body{
        padding:1rem;
    }
    .hero h1{
        font-size:2.2rem;
    }
    .hero h2{
        font-size:1.1rem;
    }
    #myself{
        height:150px;
    }
    .styled-list li:hover{
        transform:translateX(10px);
    }
    .certificate-card img{
        max-width:100%;
    }
    #contact-list{
        gap:1rem;
    }
    #contact-list li img{
        width:40px;
        height:40px;
    }
}